# platform
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.idea/

# project files
.env
_data/*
_logs/*
docs/

cockroachdb/entrypoint.sh

dns/entrypoint.sh
dns/etc/bind/named.conf.custom.local

gitlab/entrypoint.sh
gitlab/home/local_user/.ssh/authorized_keys

mariadb/entrypoint.sh
mariadb/setup_*

nginx/entrypoint.sh
nginx/sites-available/*

php-fpm/entrypoint.sh
php-fpm/**/Dockerfile
php-fpm/**/php-cli.ini

redis/entrypoint.sh

workspace/entrypoint.sh
workspace/etc/php/*.*/cli/conf.d/*
workspace/home/local_user/*

HOWTO.md
TODO.md
