# platform
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.idea/

# project files
.env
_data/*
_logs/*
docs/
docker-compose-nfs.yml

gitlab/entrypoint.sh
gitlab/home/local_user/.ssh/authorized_keys

mariadb/entrypoint.sh

nginx/entrypoint.sh
nginx/sites-available/*

php/entrypoint.sh
php/**/Dockerfile

workspace/entrypoint.sh
workspace/etc/php/*.*/cli/php.ini
workspace/etc/php/*.*/cli/conf.d/*
workspace/home/local_user/.ssh/*
workspace/home/local_user/.cache/
workspace/home/local_user/.composer/
workspace/home/local_user/.config/
workspace/home/local_user/.npm/
workspace/home/local_user/.bash_history
workspace/home/local_user/.gitconfig
workspace/home/local_user/.mysql_history
workspace/home/local_user/.npmrc
workspace/home/local_user/.sudo_as_admin_successful
workspace/home/local_user/.v8flags*
workspace/home/local_user/.viminfo
workspace/home/local_user/.node_repl_history

test/
HOWTO.md
TODO.md
